[submodule "digiTwin"]
	path = digiTwin
	url = https://github.com/schreiberpaul/digiTwin
[submodule "SDWAN"]
	path = SDWAN
	url = https://github.com/m-niklas19/Evernet-Software-Defined-Wan-for-Multiple-Mesh-Uplinks
[submodule "UNIcert"]
	path = UNIcert
	url = https://github.com/Ragosh/UNIcert-Client-Projekt
[submodule "workadv_NDH"]
	path = workadv_NDH
	url = https://github.com/ginhavana/Workadventure-Nordhausen
